*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.specification{
   color:#1C1F35;
   height: 50px;
   padding-top: 5px;   
   /* border-top: 1px solid #d6d6d680; */
   /* border-bottom: 1px solid #d6d6d680  ; */
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   
}
.parent{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 20px;
   width: 100%;
   height: auto;
   flex-wrap: wrap;
   background-color: #1C1F35;
}
.chooseButton{
   background-image: linear-gradient(to right, red , yellow);
   padding: 0;
   width: 150px;
   height: 50px;
   margin-top: 10px !important;
   background-color:#1C1F35;
   color: white;
  background-image: url(../PricingCard/images/Pattern.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.main:hover .chooseButton{
   background-image: url(./images/Pattern_large.svg);
}

.main{
   display: flex;
   justify-content: center;
   align-items: center;
}
.price{
   font-size: xx-large;
   
}


